@page "/restaurantproductcategories/edit"
@using Microsoft.EntityFrameworkCore
@using AnyReservationTemp.Domain
@inject IDbContextFactory<AnyReservationTemp.Data.AnyReservationTempContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>RestaurantProductCategory</h2>
<hr />
@if (RestaurantProductCategory is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="RestaurantProductCategory" OnValidSubmit="UpdateRestaurantProductCategory" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="RestaurantProductCategory.Id" value="@RestaurantProductCategory.Id" />
                <div class="mb-3">
                    <label for="productcategoryid" class="form-label">ProductCategoryId:</label>
                    <InputNumber id="productcategoryid" @bind-Value="RestaurantProductCategory.ProductCategoryId" class="form-control" />
                    <ValidationMessage For="() => RestaurantProductCategory.ProductCategoryId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="restaurantid" class="form-label">RestaurantId:</label>
                    <InputNumber id="restaurantid" @bind-Value="RestaurantProductCategory.RestaurantId" class="form-control" />
                    <ValidationMessage For="() => RestaurantProductCategory.RestaurantId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="RestaurantProductCategory.Name" class="form-control" />
                    <ValidationMessage For="() => RestaurantProductCategory.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact:</label>
                    <InputText id="contact" @bind-Value="RestaurantProductCategory.Contact" class="form-control" />
                    <ValidationMessage For="() => RestaurantProductCategory.Contact" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="emailaddress" class="form-label">EmailAddress:</label>
                    <InputText id="emailaddress" @bind-Value="RestaurantProductCategory.EmailAddress" class="form-control" />
                    <ValidationMessage For="() => RestaurantProductCategory.EmailAddress" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/restaurantproductcategories">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private RestaurantProductCategory? RestaurantProductCategory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        RestaurantProductCategory ??= await context.RestaurantProductCategory.FirstOrDefaultAsync(m => m.Id == Id);

        if (RestaurantProductCategory is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateRestaurantProductCategory()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(RestaurantProductCategory!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RestaurantProductCategoryExists(RestaurantProductCategory!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/restaurantproductcategories");
    }

    private bool RestaurantProductCategoryExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.RestaurantProductCategory.Any(e => e.Id == id);
    }
}
