@page "/restaurantproductcategories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AnyReservationTemp.Domain
@using AnyReservationTemp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AnyReservationTemp.Data.AnyReservationTempContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="restaurantproductcategories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.RestaurantProductCategory">
    <PropertyColumn Property="restaurantproductcategory => restaurantproductcategory.ProductCategoryId" />
    <PropertyColumn Property="restaurantproductcategory => restaurantproductcategory.RestaurantId" />
    <PropertyColumn Property="restaurantproductcategory => restaurantproductcategory.Name" />
    <PropertyColumn Property="restaurantproductcategory => restaurantproductcategory.Contact" />
    <PropertyColumn Property="restaurantproductcategory => restaurantproductcategory.EmailAddress" />

    <TemplateColumn Context="restaurantproductcategory">
        <a href="@($"restaurantproductcategories/edit?id={restaurantproductcategory.Id}")">Edit</a> |
        <a href="@($"restaurantproductcategories/details?id={restaurantproductcategory.Id}")">Details</a> |
        <a href="@($"restaurantproductcategories/delete?id={restaurantproductcategory.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AnyReservationTempContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
