.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    overflow-y: auto; /* Ensures scrolling */
    height: calc(100vh - 70px); /* Adjust to match navbar height */
}


.navbar-container {
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article.content {
    padding: 1rem;
}