.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-brand {
    font-size: 1.5rem;
    color: black;
    background: #ff3535;
    font-family: 'Brush Script MT';
}

.top-container {
    background: #f9bfbf;
}

.category-container {
    background: #ffefef;
}

.category-btn {
    background-color: white; /* Default background color */
    color: black; /* Default text color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-btn:hover {
    background-color: #fffdd3; /* Highlight background color */
    border: 2px solid; /* Default border */
    transition: background-color 0.5s ease, border-color 0.5s ease;
}
    .category-btn:focus,
    .category-btn:active {
        background-color: #fffdd3; /* Active background color (same as hover) */
        border: 4px solid;
        border-color: black; /* Add black border */
    }

.login-button{
    color: white;
    background: black;
}

    .login-button:hover {
        background-color: #34c724;
        color: black;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

.button-style {
    background-color: transparent;
    border: 2px solid black;
    padding: .375rem .75rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.nav-link {
    color: #cfcfcf;
    transition: color 0.3s ease;
}

/* Search Bar */
.search-section {
    flex-grow: 1;
}

.search-bar {
    flex-grow: 1;
    max-width: 60%; /* Adjust the search bar width */
}

    .search-bar input {
        border-radius: 20px;
        padding-left: 15px;
    }

    .search-bar button {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

.drop-menu .drop-item {
    color: black; /* Default text color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

    .drop-menu .drop-item:hover {
        color: #555; /* Lighter black color on hover */
    }
