@inherits LayoutComponentBase
@layout AccountLayout
<!-- Filler -->
<div class="container-fluid d-flex flex-wrap w-100 py-2">
    <a class="btn px-4 py-3 m-2 rounded-pill" href="#">Space</a>
</div>

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
