@page "/reservations1"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AnyReservationTemp.Domain
@using AnyReservationTemp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AnyReservationTemp.Data.AnyReservationTempContext> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>
<!-- Filler -->
<div class="container-fluid d-flex flex-wrap w-100 py-2">
    <a class="btn px-4 py-2 m-2 rounded-pill" href="#">Space</a>
</div>

<body style="background-color: #fff3f1">
    <h1>Index</h1>
    <QuickGrid Class="table" Items="context.Reservation">
        <PropertyColumn Property="reservation => reservation.NumOfCustomer" />
        <PropertyColumn Property="reservation => reservation.DateReserved" />
        <PropertyColumn Property="reservation => reservation.StartTime" />
        <PropertyColumn Property="reservation => reservation.EndTime" />
        <PropertyColumn Property="reservation => reservation.RestaurantId" />
        <PropertyColumn Property="reservation => reservation.CustomerId" />
        <PropertyColumn Property="reservation => reservation.TableNo" />
        <PropertyColumn Property="reservation => reservation.ProgressId" />
        <PropertyColumn Property="reservation => reservation.Name" />
        <PropertyColumn Property="reservation => reservation.Contact" />
        <PropertyColumn Property="reservation => reservation.EmailAddress" />

        <TemplateColumn Context="reservation">
            <a href="@($"reservations/edit?id={reservation.Id}")">Edit</a> |
            <a href="@($"reservations/details?id={reservation.Id}")">Details</a>

        </TemplateColumn>
    </QuickGrid>
</body>

@code {
    private AnyReservationTempContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
