@page "/progresses"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AnyReservationTemp.Domain
@using AnyReservationTemp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AnyReservationTemp.Data.AnyReservationTempContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="progresses/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Progress">
    <PropertyColumn Property="progress => progress.DateCreated" />
    <PropertyColumn Property="progress => progress.DateUpdated" />
    <PropertyColumn Property="progress => progress.CreatedBy" />
    <PropertyColumn Property="progress => progress.UpdatedBy" />
    <PropertyColumn Property="progress => progress.StatusId" />
    <PropertyColumn Property="progress => progress.Name" />
    <PropertyColumn Property="progress => progress.Contact" />
    <PropertyColumn Property="progress => progress.EmailAddress" />

    <TemplateColumn Context="progress">
        <a href="@($"progresses/edit?id={progress.Id}")">Edit</a> |
        <a href="@($"progresses/details?id={progress.Id}")">Details</a> |
        <a href="@($"progresses/delete?id={progress.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AnyReservationTempContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
