@page "/orderdetails/edit"
@using Microsoft.EntityFrameworkCore
@using AnyReservationTemp.Domain
@inject IDbContextFactory<AnyReservationTemp.Data.AnyReservationTempContext> DbFactory
@inject NavigationManager NavigationManager

@layout MinimalLayout

<PageTitle>Edit</PageTitle>

@if (OrderDetail is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="OrderDetail" OnValidSubmit="UpdateOrderDetail" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="OrderDetail.Id" value="@OrderDetail.Id" />
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <InputNumber id="quantity" @bind-Value="OrderDetail.Quantity" class="form-control" min="1"/>
                    <ValidationMessage For="() => OrderDetail.Quantity" class="text-danger" />
                </div>
                <div hidden class="mb-3">
                    <label for="orderid" class="form-label">OrderId:</label>
                    <InputNumber id="orderid" @bind-Value="OrderDetail.OrderId" class="form-control" />
                    <ValidationMessage For="() => OrderDetail.OrderId" class="text-danger" />
                </div>
                <div hidden class="mb-3">
                    <label for="productid" class="form-label">ProductId:</label>
                    <InputNumber id="productid" @bind-Value="OrderDetail.ProductId" class="form-control" />
                    <ValidationMessage For="() => OrderDetail.ProductId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromQuery]
    private int restaurantId { get; set; }

    [SupplyParameterFromQuery]
    private int OrderId { get; set; }

    [SupplyParameterFromForm]
    private OrderDetail? OrderDetail { get; set; }

    private int? previousQuantity; // Variable to track the previous quantity

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        OrderDetail ??= await context.OrderDetail.FirstOrDefaultAsync(m => m.Id == Id);

        if (OrderDetail is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        // Store the initial quantity for comparison
        previousQuantity = OrderDetail?.Quantity;
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateOrderDetail()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(OrderDetail!).State = EntityState.Modified;

        var product = await context.Product.FirstOrDefaultAsync(q => q.Id == OrderDetail.ProductId);

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!OrderDetailExists(OrderDetail!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/orderdetails/success");
    }

    private bool OrderDetailExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.OrderDetail.Any(e => e.Id == id);
    }
}
