@page "/orderdetails/create/success"


@layout MinimalLayout
<body style="background-color: #fff3f1">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="text-center">
            <!-- Success Icon (Check Circle) -->
            <i class="bi bi-check-circle-fill" style="font-size: 4rem; color: green;"></i>
            <h2 class="mt-3">Successfully Added</h2>
            <p>Your order details have been successfully added.</p>
            <p>Check out at the bottom right corner</p>
        </div>
    </div>
</body>


@code {
}
