@page "/staff/edit"
@using Microsoft.EntityFrameworkCore
@using AnyReservationTemp.Domain
@inject IDbContextFactory<AnyReservationTemp.Data.AnyReservationTempContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Staff</h2>
<hr />
@if (Staff is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Staff" OnValidSubmit="UpdateStaff" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Staff.Id" value="@Staff.Id" />
                <div class="mb-3">
                    <label for="nric" class="form-label">NRIC:</label>
                    <InputText id="nric" @bind-Value="Staff.NRIC" class="form-control" />
                    <ValidationMessage For="() => Staff.NRIC" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="restaurantid" class="form-label">RestaurantId:</label>
                    <InputNumber id="restaurantid" @bind-Value="Staff.RestaurantId" class="form-control" />
                    <ValidationMessage For="() => Staff.RestaurantId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Staff.Name" class="form-control" />
                    <ValidationMessage For="() => Staff.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact:</label>
                    <InputText id="contact" @bind-Value="Staff.Contact" class="form-control" />
                    <ValidationMessage For="() => Staff.Contact" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="emailaddress" class="form-label">EmailAddress:</label>
                    <InputText id="emailaddress" @bind-Value="Staff.EmailAddress" class="form-control" />
                    <ValidationMessage For="() => Staff.EmailAddress" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/staff">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Staff? Staff { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Staff ??= await context.Staff.FirstOrDefaultAsync(m => m.Id == Id);

        if (Staff is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStaff()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Staff!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StaffExists(Staff!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/staff");
    }

    private bool StaffExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Staff.Any(e => e.Id == id);
    }
}
