@page "/Account/AccessDenied"

<PageTitle>AccessDenied</PageTitle>

<header style="margin-top: 300px; margin-left: 500px">
    <h1 class="text-danger">This page is Staff only</h1>
    <p class="text-danger">This account does not have the authorization.</p>
</header>